<toxic-breadcrumbs [breadcrumbs]="breadcrumbs" *ngIf="loaded && !error"></toxic-breadcrumbs>
<section class="p-t-30" *ngIf="loaded">
    <div class="container">
        <div class="row">
            <div class="toolbar-custom">
                <a class="btn btn-default btn-icon btn-sm m-r-10 float-left hidden-xs-down" (click)="refreshList()">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="row" *ngIf="users && users.length > 0; else noContentTemplate">
            <div class="col-12 col-sm-6 col-md-4" *ngFor="let user of users">
                <div class="card card-lg">
                    <div class="card-img">
                        <a [routerLink]="['/users', user?.id]">
                            <img [src]="user?.image" class="card-img-top">
                        </a>
                        <div [class]="getUserColor(user?.role)">
                            {{ user?.role }}
                        </div>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <a [routerLink]="['/users', user?.id]">{{ user?.username }}</a>
                        </h4>
                        <div class="card-meta">
                            <span>{{ user?.date }}</span>
                        </div>
                        <p class="card-text">
                            {{ user?.about }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noContentTemplate>
            <div class="row">
                <div class="col-12">
                    <toxic-warning></toxic-warning>
                </div>
            </div>
        </ng-template>
    </div>
</section>