<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a [routerLink]="['/']" class="logo">
                        <img src="/assets/img/logo.png" alt="ToxicToast - Ein etwas, anderer Blog">
                    </a>
                    <nav class="nav">
                        <ul>
                            <li>
                                <a [routerLink]="['/']">Home</a>
                            </li>
                            <li class="has-dropdown">
                                <a>Infotainment</a>
                                <ul>
                                    <li>
                                        <a [routerLink]="['/blog']">Posts</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/blog/archive/']">Archive</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/about']">ToxicToast</a>
                            </li>
                            <li class="has-dropdown mega-menu mega-games">
                                <a [routerLink]="['/games']">Games</a>
                                <ul>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-3 hidden" title="Warcraft">
                                                    <div class="img">
                                                        <a [routerLink]="['/games']">
                                                            <img src="/assets/img/games/warcraft.jpg" alt="World of Warcraft">
                                                        </a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4>
                                                        <a [routerLink]="['/games']">World of Warcraft: Legion</a>
                                                    </h4>
                                                </div>
                                                <div class="col-3 hidden" title="Heroes">
                                                    <div class="img">
                                                        <a [routerLink]="['/games']">
                                                            <img src="/assets/img/games/heroes.jpg" alt="Heroes of the Storm">
                                                        </a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4>
                                                        <a [routerLink]="['/games']">Heroes of the Storm</a>
                                                    </h4>
                                                </div>
                                                <div class="col-3 hidden" title="Starcraft">
                                                    <div class="img">
                                                        <a [routerLink]="['/games']">
                                                            <img src="/assets/img/games/starcraft.jpg" alt="Starcraft 2">
                                                        </a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4>
                                                        <a [routerLink]="['/games']">Starcraft 2: Legacy of the Void</a>
                                                    </h4>
                                                </div>
                                                <div class="col-3" title="Overwatch">
                                                    <div class="img">
                                                        <a [routerLink]="['/games']">
                                                            <img src="/assets/img/games/overwatch.jpg" alt="Overwatch">
                                                        </a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4>
                                                        <a [routerLink]="['/games']">Overwatch</a>
                                                    </h4>
                                                </div>
                                                <div class="col-3 hidden" title="Minecraft">
                                                    <div class="img">
                                                        <a [routerLink]="['/games']">
                                                            <img src="/assets/img/games/minecraft.jpg" alt="Minecraft">
                                                        </a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4>
                                                        <a [routerLink]="['/games']">Minecraft</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/users']">Community</a>
                            </li>
                            <li>
                                <a [routerLink]="['/404']">Multimedia</a>
                            </li>
                            <li>
                                <a [routerLink]="['/404']">Livestream</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <toxic-login *ngIf="!user?.username"></toxic-login>
                <toxic-logged *ngIf="user?.username" [user]="user"></toxic-logged>
            </div>
        </div>
        <div class="navbar-search"></div>
    </div>
</header>