<section class="hero hero-profile" [style]="getBackground(user.hero)" *ngIf="loaded && user.role !== 'Banned'">
    <div class="overlay"></div>
    <div class="container">
        <div class="hero-block">
            <h5>{{user.username}}</h5>
        </div>
    </div>
</section>
<div id="sticky-wrapper" class="sticky-wrapper" style="height: 69px;" *ngIf="loaded && user.role !== 'Banned'">
    <section class="toolbar toolbar-profile" data-fixed="true">
        <div class="container">
            <div class="profile-avatar">
                <img [src]="user.image" alt="">
            </div>
            <ul class="toolbar-nav hidden-md-down">
                <li [class]="checkActiveClass('achievements')">
                    <a (click)="changeView('achievements')">Profile</a>
                </li>
                <li [class]="checkActiveClass('streams')">
                    <a (click)="changeView('streams')">Streams ({{ user.streams }})</a>
                </li>
                <li [class]="checkActiveClass('comments')">
                    <a (click)="changeView('comments')">Comments ({{ user.comments }})</a>
                </li>
                <li [class]="checkActiveClass('groups')">
                    <a (click)="changeView('groups')">Groups ({{ user.groups.length }})</a>
                </li>
                <li [class]="checkActiveClass('toasts')">
                    <a (click)="changeView('toasts')">Toasts ({{ user.toasts }})</a>
                </li>
                <li [class]="checkActiveClass('chatlines')">
                    <a (click)="changeView('chatlines')">Chatlines ({{ user.chatlines }})</a>
                </li>
            </ul>
        </div>
    </section>
</div>
<section class="p-y-30" *ngIf="loaded && user.role !== 'Banned'">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 hidden-md-down">
                <div class="widget widget-about">
                    <h5 class="widget-title">About {{ user.username }}</h5>
                    <p [innerHTML]="user.about"></p>
                    <ul>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            Joined MONTH YEAR
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            ROLE
                        </li>
                        <li>
                                <i class="fa fa-twitch"></i>
                                0 Followers
                            </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <toxic-user-achievements *ngIf="view === 'achievements'"></toxic-user-achievements>
                <toxic-users-stream *ngIf="view === 'streams'"></toxic-users-stream>

                <toxic-users-groups *ngIf="view === 'groups'" [groups]="user.groups"></toxic-users-groups>
            </div>
        </div>
    </div>
</section>
<toxic-error *ngIf="loaded && user.role === 'Banned'" [error]="true" [errorMessage]="userBannedError(user.username_raw)">
    error message goes here
</toxic-error>