<section class="bg-image bg-image-sm registerBackground">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <i class="fa fa-user-plus"></i> Register a new account
                        </h4>
                    </div>
                    <div class="card-block">
                        <a class="btn btn-social btn-twitch btn-block btn-icon-left" role="button" (click)="registerViaTwitch()" style="color: #fff;">
                            <i class="fa fa-twitch"></i> Register with Twitch</a>
                        <div class="divider"><span>or</span></div>
                        <form [formGroup]="registerForm">
                            <div class="form-group input-icon-left m-b-10">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control form-control-secondary" placeholder="Username" formControlName="username" autocomplete="username">
                            </div>
                            <div class="form-group input-icon-left m-b-10">
                                <i class="fa fa-envelope"></i>
                                <input type="email" class="form-control form-control-secondary" placeholder="Email Address" formControlName="email" autocomplete="email">
                            </div>
                            <div class="divider"><span>Security</span></div>
                            <div class="form-group input-icon-left m-b-10">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control form-control-secondary" placeholder="Password" formControlName="password" autocomplete="current-password">
                            </div>
                            <div class="form-group input-icon-left m-b-10">
                                <i class="fa fa-unlock"></i>
                                <input type="password" class="form-control form-control-secondary" placeholder="Repeat Password" formControlName="repeat_password" autocomplete="current-password">
                            </div>
                            <button class="btn btn-primary m-t-10 btn-block" (click)="saveForm()" [disabled]="registerButtonDisabled || !registerForm.valid">{{registerButtonText}} <i [class]="registerButtonIcon"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>