<toxic-layout-container>
    <section class="p-t-30">
        <div class="container">
            <toxic-loading [loading]="loading$ | async"></toxic-loading>
            <toxic-error [error]="error$ | async" [errorMessage]="errorMessage$ | async"></toxic-error>
            <toxic-games-toolbar [loaded]="loaded$ | async"></toxic-games-toolbar>
            <toxic-games-list [loaded]="loaded$ | async" [games]="games$ | async"></toxic-games-list>
        </div>
    </section>
</toxic-layout-container>