<div class="widget">
    <h5 class="widget-title">Socials</h5>
    <div class="row text-center">
        <div class="col-lg-6">
            <a class="btn btn-social btn-twitch btn-icon btn-default btn-effect" role="button" style="color: #fff;" href="https://www.twitch.tv/toxictoast" target="_blank">
                <i class="fa fa-twitch"></i>
                <i class="fa fa-twitch"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-icon btn-default btn-effect" role="button" style="color: #fff;" href="https://twitter.com/ToxicToastSC2" target="_blank">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-facebook btn-icon btn-default btn-effect" role="button" style="color: #fff;" href="https://www.facebook.com/ToxicToastSC2/" target="_blank">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
</div>