<nav class="nav nav-responsive">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Infotainment</a>
        </li>
        <li>
            <a href="#">ToxicToast</a>
        </li>
        <li>
            <a href="#">Games</a>
        </li>
        <li>
            <a href="#">Community</a>
        </li>
        <li>
            <a href="#">Multimedia</a>
        </li>
        <li>
            <a href="#">Livestream</a>
        </li>
        <li>
            <a href="#">Social</a>
        </li>
    </ul>
</nav>