<div class="toolbar-custom">
    <form class="float-left cold-12 col-sm-6 p-l-0 p-r-10" [formGroup]="gamesForm">
        <div class="form-group input-icon-right">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control search-game" placeholder="Search Game..." formControlName="search">
        </div>
    </form>
    <div class="dropdown float-left">
        <button type="button" class="btn btn-default" (click)="searchGame()">Search Game</button>
    </div>
</div>