<h5>Leave a comment</h5>
<form [formGroup]="commentForm" *ngIf="logged; else noContentTemplate">
    <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Your Comment" formControlName="comment"></textarea>
    </div>
    <button (click)="onSaveComment()" class="btn btn-primary" [disabled]="!commentForm.valid || buttonDisabled">{{ buttonText }} <i [class]="buttonIcon"></i></button>
</form>

<ng-template #noContentTemplate>
    <br />
    <toxic-warning></toxic-warning>
</ng-template>